---
import LetterGlitch from "@/React/LetterGlitch";

interface Technology {
	title: string;
	icon: string;
}

interface SkillCategory {
	category: string;
	technologies: Technology[];
}

const skills: SkillCategory[] = [
	{
		category: "Frontend",
		technologies: [
			{ title: "Astro", icon: "astro.svg" },
			{ title: "React", icon: "react.svg" },
			{ title: "Vue", icon: "vue.svg" },
			{ title: "Angular", icon: "angular.svg" },
		],
	},
	{
		category: "Backend",
		technologies: [
			{ title: "Node.js", icon: "nodejs.svg" },
			{ title: "Express", icon: "express.svg" },
			{ title: "Spring Boot", icon: "springboot.svg" },
		],
	},
	{
		category: "Data Management",
		technologies: [
			{ title: "PostgreSQL", icon: "postgres.svg" },
			{ title: "Redis", icon: "redis.svg" },
			{ title: "MySql", icon: "mysql.svg" },
		],
	},
	{
		category: "Programming Languages",
		technologies: [
			{ title: "TypeScript", icon: "typeScript.svg" },
			{ title: "Python", icon: "python.svg" },
			{ title: "Java", icon: "java.svg" },
			{ title: "C", icon: "C.svg" },
		],
	},
	{
		category: "Others",
		technologies: [
			{ title: "Git", icon: "git.svg" },
			{ title: "Docker", icon: "docker.svg" },
		],
	},
];
---

<section
	id="skills"
	class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
	<div class="max-w-5xl mx-auto">
		<h3 class="text-4xl md:text-5xl font-medium mb-8">Skills</h3>

		<div class="flex flex-col lg:flex-row items-center gap-8">
			<div class="text-left pt-3 md:pt-9">
				<div class="overflow-x-auto">
					<table class="table">
						<tbody>
							{
								skills.map((skill) => (
									<tr>
										<th>{skill.category}</th>
										{skill.technologies.map((tech) => (
											<td>
												<div class="flex items-center gap-3">
													<div class="avatar">
														<div class="mask mask-squircle h-6 w-6">
															<img
																src={`svg/${tech.icon}`}
																alt={`${tech.title} Icon`}
															/>
														</div>
													</div>
													<div>
														<div class="font-bold">
															{tech.title}
														</div>
													</div>
												</div>
											</td>
										))}
									</tr>
								))
							}
						</tbody>
					</table>
				</div>
			</div>
			<div
				class="flex justify-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16">
				<LetterGlitch
					client:load
					glitchColors={["#008080", "#006666", "#004c4c"]}
					glitchSpeed={33}
					centerVignette={false}
					outerVignette={true}
					smooth={true}
				/>
			</div>
		</div>
	</div>
</section>
